.icon24{
    height: 24px;
    width: 24px;
    position: relative;
    display: flex;
}
.icon24:before{
    content: "";
    position: absolute;
    background: transparent url('../../icons/Sprites.64af8f61.svg') no-repeat;
    height: 24px;
    width: 24px;
    top: 4px;
    left: 0;
}
.icon24.icon-plus:before{
    background-position: -848px -312px;
}